body{
    background-color: #285866;
    margin: 20px;
}

@font-face{
    font-family: 'passionsConflict';
    src: url("font/PassionsConflict-Regular.ttf");
}

/*Navigacija*/
header{
    text-align: center;
    width: 100%;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    text-transform: uppercase;
    margin-left: 8px; 
}

header a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding-left: 5px;
    position: relative;
}

header a:hover{
    color: #c4d3d8;
}

.aktivna {
   text-decoration: underline white 1px;
}

.desno{
    border-right: 1px solid white;
}

.hamburger {
    display: block;
    cursor: pointer;
    float: right;
  }
  
.linija1, .linija2, .linija3 {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    margin-top: 0;
    transition: 0.4s;
  }
  
.change .linija1 {
    transform: translate(0, 10px) rotate(-45deg);
  }
  
.change .linija2 {opacity: 0;}
  
.change .linija3 {
    transform: translate(0, -10px) rotate(45deg);
  }


/*Naslovna*/
.glavni_naslov{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    letter-spacing: 12px;
    font-weight: lighter;
}


/*Moj grad*/
.okvir_raspored{
    margin-top: 10%;
    text-align: center;
}

.raspored{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    margin-bottom: 3%;
}

.raspored h3{
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 1em;
   }

.raspored h3 span{
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    position: relative;
}

.raspored ul{
    padding-left: 0;
}

.raspored li{
    list-style-position: inside;
    color:white;
    line-height: 1.5em;
}

.raspored a{
    text-decoration: underline;
    color: white;
    font-weight: lighter;
}

.raspored a:hover{
    color: #c4d3d8;
}


/*O meni*/
.okvir{
    height: auto;
    width: 100%;
    margin-top: 6%;
}

.slika{
    height: auto;
    width: 39%;
    float: left;
}

.slika img{
    width: 180px;
    border-radius: 1em;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tekst{
    width: 60%;
    float: right;
    margin-top: 35px;
}

.tekst p, .tekst h3{
    color: white;
    font-weight: lighter;
    text-align: center;
}

.tekst h3 span{
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    position: relative;
}


/*Galerija*/
.galerija{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
}

.fotografija{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    height: 300px;  
}

.fotografija:hover {
    border: 1px solid #777;
}

.fotografija img{
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.fotografija img:hover{
    cursor: pointer;
}


/*Kontakt*/
.obrazac{
    margin-top: 8%;
}

form{
    justify-content: center;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #4b6b75;
    border-radius: 2em;
}

label{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    padding-bottom: 2px;
}

form input{
    color: black;
} 

input{
    margin-bottom: 15px;
    width: 230px;
    color: rgb(39, 39, 105);
}

input, label{
    display: block;
    color: white;
    font-weight: lighter;
}

input, textarea{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.77);
}

textarea{
    resize: none;
}

.button{
    color: white;
    background-color: #285866d4;
    margin-top: 10px;
    padding: 7px;
    letter-spacing: 1.8px;
    width: 80px;
    border-radius: 1em;
    border-style: hidden;
    font-weight: 500;
}

.button:hover{
    background-color: rgb(199, 223, 236);
    color: rgb(39, 39, 105);
}


/*Footer*/
footer{
    color: white;
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
    bottom:8px;
    width:100%;
    clear: both;
}

footer p{
    display: inline;
    text-transform: uppercase;
}


#danasnji_datum{
    display: inline-block;
    padding-left: 4px;
}




